.a,.b{
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px deeppink;
    border-radius:50px 50px 50px 50px ;
}
.c,.d{
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px deeppink;
    border-radius:50px 50px 50px 50px ;

}
.e,.f{
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px deeppink;
    border-radius:50px 50px 50px 50px ;
}
.g,.h{
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px deeppink;
    border-radius:50px 50px 50px 50px ;
}
.i,.j{
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px deeppink;
    border-radius:50px 50px 50px 50px ;
}
.k,.l{
    border: 2px solid black;
    box-shadow: 2px 2px 2px 2px deeppink;
    border-radius:50px 50px 50px 50px ;
}